.calendar
  &__header
    text-align center
    width @width
    padding-top 13px
    border-top 1px solid #efefef
    margin-bottom 4px
  &__month-chooser
    color #5d5d5d
    font-size 1.1rem
    margin-bottom 16px
    width 455px
    padding 0 30px
  &__prev-month
    float left
  &__next-month
    float right
  &__prev-month
  &__next-month
    cursor pointer
    color #a2a2a2
    font-size 1.4rem
    line-height @font-size
  &__days-names
    color #a2a2a2
    font-size 0.8rem
  &__day-name
    min-width $cellWidth