.calendar
  &__range
    color #5d5d5d
    margin-bottom 10px
  &__from-date
    min-width 180px
    vertical-align top
    min-height 60px
  &__from-date
  &__image-arrow
    display inline-block
  &__image-arrow
    font-size 2.5rem
    color #dbd7db
    margin-right 30px
    vertical-align middle
  &__range-h
    font-size 0.75rem
    text-transform uppercase
  &__range-month
    font-size 1.1rem
  &__range-date
    font-size 2.3rem
    line-height @font-size
    font-weight 100
    margin 0 5px 0 -5px
  &__range-day
    font-size 0.9rem
    color #a2a2a2
    font-weight 100
  td
    padding 0
    line-height 1rem