$height = 49px
$cellWidth = 65px
$selectedColor = #349AEF
@import url(https://fonts.googleapis.com/css?family=Roboto:500,500italic,400,400italic,300,300italic);
html
body
  margin 0
  padding 0
  font-family 'Roboto', serif
  height 100%
*
  box-sizing border-box
#app
  display flex
  height 100%
.calendar
  width 455px
  margin auto

@keyframes list-forward {
  0%{
    transform translate3d(0px,0px,0px)
  }
  100%{
    transform translate3d(0px,-(($height+1) * 4), 0px)
  }
}
@keyframes list-backward {
  0%{
    transform translate3d(0px,-(($height+1) * 4),0px)
  }
  100%{
    transform translate3d(0px,0px,0px)
  }
}

@require 'range'
@require 'header'
@require 'calendar'


